section{
    height:400px;
    width:60%;
    margin-left:20%;
    text-align:center;
    background-color: rgb(80,215,80);
}
body{
    background-color:rgb(200,123,10);
}
header{
    text-align: center;
    margin-left: 30%;
}
img#im1{
    margin-left: 35%;
    width: 30%;
}
div#div{
margin-top: 3%;
background-color: seashell;
width:55%;
height: 40%;
text-align :left;
margin-left: 24%;
}
input{
    margin-top:3%;
    text-align: center;
    width: 10%;
}
h1{
    margin-top: 7%;
    font: 200pt;
    color: rgb(0,0,255);
    text-align: center;
}
div#div2{background-color: seashell;
    width:55%;
    height: 20%;
    text-align :left;
    margin-left: 24%;
    

}